<% title @post.title %>
<% description @post.description %>

<h1><%= @post.h1 %> </h1>
<p><%= @post.content.html_safe %></p>

<div class:'form-group'>
  <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary' %>
  <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
</div>